h1 { 
  text-align: center; 
  font-family: Arial, Helvetica, sans-serif;
}

#drawing-area {
  text-align: center;
}

#drawing {
  background-color: lightgray;
  border: 2px solid black;
  cursor: none;
}

#thickness-control {
    text-align: center;
}

.thickness {
    font-size: 2em;
    cursor: pointer;
}
